@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Index</h2>

@section scripts {
    <script type="text/javascript" data-main="Scripts/app/main" src="@Url.Content("~/Scripts/require.js")"></script>
}
