@{
    ViewBag.Title = "Example1";
}

<h2>Example1</h2>


@section scripts
{
    <script type="text/javascript" data-main="/Scripts/app/main" src="@Url.Content("~/Scripts/require.js")"></script>
}
