@{
    ViewBag.Title = "Libraries";
}
<div class="span9">
    <h2>Nützliche JavaScript Libraries</h2>
    <div class="well">
        <h5>jQuery</h5>
        <p>
            Erleichtert die Traversierung und Manipulation von HTML-Elementen 
            und schreiben von AJAX-Befehlen.<br />
            <a href="http://www.jquery.com" target="_blank">Zur jQuery Homepage</a>
        </p>
    </div>

    <div class="well">
        <h5>jQuery UI</h5>
        <p>
            Bietet mehrere UI Widgets auf Basis von jQuery<br />
            <a href="http://www.jqueryui.com/" target="_blank">Zur jQuery UI Homepage</a>
        </p>
    </div>

    <div class="well">
        <h5>jQuery Mobile</h5>
        <p>
            jQuery für mobile Endgeräte (mit Touch-Funktionen)<br />
            <a href="http://www.jquerymobile.com/" target="_blank">Zur jQuery Mobile Homepage</a>
        </p>
    </div>

    <div class="well">
        <h5>Knockout</h5>
        <p>
            Bibliothek zur Unterstützung des MVVM Patterns und Mapping von JS-Objekten<br />
            <a href="http://www.knockoutjs.com" target="_blank">Zur Knockout Homepage</a>
        </p>
    </div>

    <div class="well">
        <h5>Modernizr</h5>
        <p>
            Erweitert fehlende HTML5- und CSS3-Funktionen bei älteren Browsern<br />
            <a href="http://www.modernizr.com/" target="_blank">Zur Modernizr Homepage</a>
        </p>
    </div>
</div>
