@model IEnumerable<string>

<table>
    <thead>
        <tr>
            <th>Value</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>
