@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div>
        
        </div>
        <script data-main="Scripts/app/main" type="text/javascript" src="~/Scripts/require.js"></script>
    </body>
</html>
